*{margin:0;
	padding:0;
}
a{
	text-decoration:none;
	color: #8c8c8c;
	cursor: pointer;
}

body{
	font:14px/1.5 arial,"Microsoft Yahei","Hiragino Sans GB",sans-serif;
	background:#fff;
	color:#8c8c8c;
}
.main-nav-item{
	color:#fff;
	font-size:18px;
	}
ul li{
		list-style-type:none;
	}
.nav-list li{
	display:block;
	float:left;
	}

 .title{
	margin: 0px;
	font-size: 18px;
	font-weight: 400;
	line-height: 50px;
	color: #333;
	}
 .more{
	position:absolute;
	top:0;
	right:0;
	}
 .box-hd{
	width:1240px;
	height:50px;
	}
 .box-bd{
	border:1px solid #DFDFDF;
	}
 .goods {
	position:relative;
	margin-top:30px;
	}
.clear{
	clear:both;
	}